.header--main--container{
    width: 100vw;
    height: 17vh;
    max-height: 17vh;
    min-height: 150px;
  }
  .header--btn{
    position: absolute;
    width: 100%;
    top : 20px;
    display: flex;
    justify-content: space-between;
  }

  .header-btn-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    height: fit-content;

    line-height: 42px;
    color: #FFFFFF;
  }

  .header-bnt-select{
    display: flex;
    z-index: 99;
    justify-content: center;
    /* align-items: center; */
  }

  .header-btn-btn-group{
      display: flex;
      width: 50%;
      justify-content: space-between;
      margin-right: 100px;
  }

  .monster--logo{
      width: 80px;
      height: 80px;
      margin-left: 50px;
      margin-top : -10px;
  }


/*  for header info section group   */
  .header--info{
    position: absolute;
    width: 70%;
    top : 90px;
    display: flex;
    justify-content: space-around;
  }

  .header--info--section{
      display: flex;
      
  }

  .header--info--section--text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
  }

  .header--info--section--block{
      width: 36px;
      height: 36px;
      display: block;
      margin-left: 10px;
      margin-top: 5px;
  }
  